
nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

#logo {
    height: 30px;
}

#hamburger {
    height: 15px;
}
