@font-face {
    font-family: BRFirma;
    src: url(assets/fonts/br_firma_medium.otf);
}

body {
    --color-purple: #474099;
    --gradient-1: linear-gradient(273.03deg, #6C36B2 12.61%, #3C70DD 100%);
    font-family: 'BRFirma', Arial, Helvetica, sans-serif;
}

/* Colors */
.purple {
    color: var(--color-purple);
}
.color-gradient-1 {
    background: var(--gradient-1)
}